/* main.css */

body {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100%;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #eaf2eb;
}

#nav-ul {
  display: flex;
  flex-direction: row;
}

.nav-link {
  padding: 5px 25px;
  text-decoration: none;
  color: #099e15;
}

.nav-link:hover {
  color: #35663b;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaf2eb;
}
h1 {
  font-size: 1.5em;
  font-weight: 600;
}

#welcome-section > p {
  color: #099e15;
}

#work-section {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects {
  width: 220px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

.project-title:hover {
  color: #35663b;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  padding: 25px 15px;
  color: #099e15;
}

.project-tile {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.project-tile-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.project-tile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.project-tile-image, .contact-tile-image {
  width: 150px;
  height: 150px;
}

.project-title {
  color: black;
}

#contact-section {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #b8c6ba;
}

#contact-section > h2 {
  color: black;
  font-weight: 600;
}

.contact-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.contact-tile-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;

}

#profile-link {
  color: black;
  text-decoration: none;
}

#profile-link:hover {
  color: #35663b;
}

#footer {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 50px;
}


@media screen and (min-width: 768px) {

#header {
  justify-content: flex-end;
}

#projects {
  flex-direction: row;
  width: 100%;
}

.project-tile {
  width: 300px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

}
